.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.loading-spinner-active {
    display: none !important;
}

.list-inline-active {
    border-bottom: 1px solid black;
}

body {
    background-color: #E8F9FD;
}